@font-face {
    font-family: openSans;
    src: url(@/assets/fonts/OpenSans/OpenSans-Regular.ttf)
}
@font-face {
    font-family: openSans-Bold;
    src: url(@/assets/fonts/OpenSans/openSans-bold.ttf)
}
@font-face {
    font-family: NunitoSans;
    src: url(@/assets/fonts/NunitoSans/NunitoSans-Regular.ttf)
}
@font-face {
    font-family: Raleway;
    src: url(@/assets/fonts/Raleway/Raleway-Regular.ttf)
}
@font-face {
    font-family: Raleway-Bold;
    src: url(@/assets/fonts/Raleway/Raleway-Bold.ttf)
}

