// Colors
$clr0: #ffffff;
$clr1: #dfe4f0;
$clr2: #c0c0c0;
$clr4: #202a3c;
$clr5: #181f2b;
$clr6: #1b2330;
$clr7: #0b1524;

$primary-clr: #5a4066;


// Breakpoints
$mobile-breakpoint: 500px;
$small-breakpoint: 650px;
$medium-breakpoint: 750px;
$narrow-breakpoint: 1100px;
$normal-breakpoint: 1300px;
$wide-breakpoint: 1500px;
$x-wide-breakpoint: 2000px;